option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: config/wsgi.py

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "config.settings"  
    SECRET_KEY: "django-insecure-sz*6#)t&*nn5#(u^y2$w$y-=gc8r1csdz=b8r#lx6w@=@)o!c6"
    ALLOWED_HOSTS: ".elasticbeanstalk.com"
    DEBUG: "False"

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
