option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "config.wsgi:application"

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "config.settings" 

container_commands:
  01_set_python_version:
    command: "ln -sf /usr/bin/python3.8 /usr/bin/python"
  02_migrate:
    command: "python manage.py migrate --noinput"
  03_collectstatic:
    command: "python manage.py collectstatic --noinput"
