option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "config.wsgi:application"

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "config.settings" 
  
  aws:elasticbeanstalk:command:
    DeploymentPolicy: TrafficSplitting
  aws:elasticbeanstalk:trafficsplitting:
    NewVersionPercent: "15"
    EvaluationTime: "10"

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
